/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  background: #000;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

a {
  color: #fff;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
a:hover {
  color: #D4C17F;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  padding: 0 15px;
  max-width: 1198px;
  margin: 0 auto;
}

.none {
  display: none !important;
}

.visually-hidden {
  /* Contain text within 1px box */
  height: 1px;
  overflow: hidden;
  width: 1px;
  /* Keep the layout */
  position: absolute;
  /* Remove any visible trace (e.g. background color) */
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%); /* browsers in the future */
  /* Prevent the screen reader to skip spaces between words */
  white-space: nowrap;
}

.title-1 {
  font-size: 54px;
  line-height: 110%;
  text-align: center;
}

.title-2 {
  text-align: center;
  font-size: 40px;
  line-height: 105%;
}

.header {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding: 20px 0;
  background: #181818;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

@media screen and (max-width: 992px) {
  .header__nav {
    display: none;
  }
}

.header__nav-btn {
  display: none;
}
@media screen and (max-width: 992px) {
  .header__nav-btn {
    display: block;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 32px;
     -moz-column-gap: 32px;
          column-gap: 32px;
}

.nav__item {
  font-size: 13px;
}

.nav__item--accent a {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 14px;
  background: #fff;
  font-size: 16px;
  color: #000;
}

/* Nav Icon */
.nav-icon-btn {
  --time: 0.1s;
  --width: 40px;
  --height: 30px;
  --line-height: 1px;
  --line-margin: 2;
  --color: #fff;
  height: var(--height);
  width: var(--width);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-icon {
  position: relative;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
}

.nav-icon::before,
.nav-icon::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
  -webkit-transition: top var(--time) linear var(--time), -webkit-transform var(--time) ease-in;
  transition: top var(--time) linear var(--time), -webkit-transform var(--time) ease-in;
  transition: transform var(--time) ease-in, top var(--time) linear var(--time);
  transition: transform var(--time) ease-in, top var(--time) linear var(--time), -webkit-transform var(--time) ease-in;
}

.nav-icon::before {
  top: calc(var(--line-height) * -8);
}

.nav-icon::after {
  top: calc(var(--line-height) * 8);
}

.nav-icon.nav-icon--active {
  background-color: transparent;
}

.nav-icon.nav-icon--active::before,
.nav-icon.nav-icon--active::after {
  top: 0;
  -webkit-transition: top var(--time) linear, -webkit-transform var(--time) ease-in var(--time);
  transition: top var(--time) linear, -webkit-transform var(--time) ease-in var(--time);
  transition: top var(--time) linear, transform var(--time) ease-in var(--time);
  transition: top var(--time) linear, transform var(--time) ease-in var(--time), -webkit-transform var(--time) ease-in var(--time);
}

.nav-icon.nav-icon--active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.nav-icon.nav-icon--active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.company-info {
  padding: 70px 35px;
  min-height: 856px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(18.78%, #000), color-stop(98.53%, rgba(0, 0, 0, 0))), url("./../img/company-info/company-info-bg.jpg") center/cover no-repeat, lightgray 100%/cover no-repeat;
  background: linear-gradient(0deg, #000 18.78%, rgba(0, 0, 0, 0) 98.53%), url("./../img/company-info/company-info-bg.jpg") center/cover no-repeat, lightgray 100%/cover no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 14px;
}

.company-info__type {
  color: #C0C0C0;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
}

.company-info__title {
  margin: 0 0 18px 0;
}

.company-info__text {
  color: #C0C0C0;
  font-size: 14px;
  text-align: center;
  line-height: 142.857%;
}

.company-info__location {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.location__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
}

.location__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 3px;
     -moz-column-gap: 3px;
          column-gap: 3px;
}

.location__text {
  font-size: 12px;
}

.services {
  padding: 110px 0 100px;
}

.services__title {
  margin: 0 0 15px 0;
}

.services__text {
  color: #C0C0C0;
  text-align: center;
  font-size: 23px;
  margin: 0 0 42px 0;
}

.services__cards {
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.card {
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.card__img {
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.card:hover .card__img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.card__content {
  position: absolute;
  bottom: 30px;
  left: 30px;
  right: 45px;
}

.card__title {
  color: #fff;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0 0 10px 0;
}

.card__text {
  color: #C0C0C0;
  font-size: 14px;
  line-height: 142.857%;
  margin: 0 0 12px 0;
}

.card__btn {
  padding: 8px 10px 8px 42px;
  position: relative;
  color: #000;
  font-size: 15px;
  letter-spacing: 0.4px;
  background-color: #fff;
  border-radius: 14px;
}
.card__btn::before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 4px;
  width: 32px;
  height: 32px;
  background-image: url("./../img/buttons/icon.svg");
}

.sunset {
  padding: 40px 35px;
  background: url("./../img/sunset/sunset-bg.jpg") center/cover no-repeat;
  min-height: 600px;
  display: grid;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.sunset__location {
  justify-self: end;
}

.sunset__title {
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.sunset__text {
  color: #C0C0C0;
  font-size: 14px;
  line-height: 142.857%;
}

.tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 540px;
}

.tools__content {
  -webkit-box-flex: 50%;
      -ms-flex: 50% 0 0px;
          flex: 50% 0 0;
  margin: auto 0;
  padding: 0 85px;
}

.tools__subtitle {
  color: #C0C0C0;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.tools__title {
  color: #fff;
  font-size: 28px;
  margin: 0 0 5px 0;
}

.tools__text {
  color: #fff;
  font-size: 14px;
  line-height: 142.857%;
  margin: 0 0 20px 0;
}

.tools__btn {
  padding: 8px 10px 8px 42px;
  position: relative;
  color: #000;
  font-size: 15px;
  letter-spacing: 0.4px;
  background-color: #fff;
  border-radius: 14px;
}
.tools__btn::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 32px;
  height: 32px;
  background-image: url("./../img/buttons/icon.svg");
}

.tools__img-block {
  -webkit-box-flex: 50%;
      -ms-flex: 50% 0 0px;
          flex: 50% 0 0;
  position: relative;
}

.tools__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.tools__location {
  position: absolute;
  bottom: 45px;
  right: 40px;
}

.leafs {
  padding: 40px 35px;
  background: url("./../img/leafs/leafs-bg.jpg") center/cover no-repeat;
  min-height: 600px;
  display: grid;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.leafs__location {
  justify-self: end;
}

.leafs__title {
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.leafs__text {
  color: #C0C0C0;
  font-size: 14px;
  line-height: 142.857%;
}

.clients {
  padding: 113px 0 169px;
}

.clients__title {
  margin: 0 0 15px 0;
}

.clients__text {
  color: #C0C0C0;
  text-align: center;
  font-size: 24px;
  margin: 0 0 110px 0;
}

.clients__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.star-fall {
  padding: 40px 35px;
  background: url("./../img/star-fall/star-fall-bg.jpg") center/cover no-repeat;
  min-height: 600px;
  display: grid;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.star-fall__location {
  justify-self: end;
}

.star-fall__title {
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.star-fall__text {
  color: #C0C0C0;
  font-size: 14px;
  line-height: 142.857%;
}

.help-section {
  padding: 110px 0;
}

.help-section__title {
  margin: 0 0 15px 0;
}

.help-section__text {
  color: #C0C0C0;
  text-align: center;
  font-size: 24px;
  margin: 0 0 22px 0;
}

.help-section__btn {
  padding: 8px 10px 8px 42px;
  display: block;
  margin: 0 auto;
  position: relative;
  color: #000;
  font-size: 15px;
  letter-spacing: 0.4px;
  background-color: #fff;
  border-radius: 14px;
}
.help-section__btn::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 32px;
  height: 32px;
  background-image: url("./../img/buttons/icon.svg");
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding: 100px 0;
}

.footer__text {
  color: #C0C0C0;
  font-size: 13px;
  line-height: 153.846%;
}

.footer__title {
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

/* nav-block */
.footer__nav-block {
  padding: 0 0 36px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__logo {
  margin: 0 0 20px 0;
}

.footer__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 39px;
     -moz-column-gap: 39px;
          column-gap: 39px;
}

.footer__nav-title {
  color: #C0C0C0;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0 0 10px 0;
}

.footer__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
}

.footer__nav-list a {
  font-size: 14px;
}

/* cta */
.footer__cta {
  padding: 36px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.footer__cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
}
.footer__cta:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
}

.footer__form {
  width: 39.2%;
}

.footer__input {
  position: relative;
}

.footer__btn {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 6px;
  width: 63px;
  height: 30px;
  z-index: 3;
  background-color: #000;
  border-radius: 11px;
}

.footer__input input {
  padding: 10px 78px 10px 10px;
  width: 100%;
  display: block;
  color: #000;
  border-radius: 12px;
  border: 1px solid #E5E7EB;
  background: #F9FAFB;
}

/* copyright */
.footer__copyright {
  padding: 56px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}