@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    background: $black;

    font-family: $font-main;
    color: $white;
}

a {
    color: $white;
    transition: color 0.2s ease-in;

    &:hover {
        color: $accent;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    flex: 1 1 auto;
}

.container {
    padding: 0 15px;

    max-width: $container-width + 2 * $container-padding;
    margin: 0 auto;
}

.none {
    display: none !important;
}

.visually-hidden {
    /* Contain text within 1px box */
    height: 1px;
    overflow: hidden;
    width: 1px;

    /* Keep the layout */
    position: absolute;

    /* Remove any visible trace (e.g. background color) */
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    /* browsers in the future */

    /* Prevent the screen reader to skip spaces between words */
    white-space: nowrap;
}

.title-1 {
    font-size: 54px;
    line-height: 110%;
    text-align: center;

    @include mediaTablet {
        font-size: 40px;
    }
}

.title-2 {
    text-align: center;
    font-size: 40px;
    line-height: 105%;

    @include mediaTablet {
        font-size: 32px;
    }
}

.no-scroll {
    overflow-y: hidden;
}

.scroll-y {
    overflow-y: auto;
    overflow-x: hidden;
}

.transition-none {
    transition: none !important;
}

.btn {
    transition: all 0.2s ease-in;

    &:hover {
        background-color: $white-dark;
    }

    &--black:hover {
        background-color: $dark;
    }
}