// Fonts
$font-main: 'Poppins', sans-serif;

// Colors
$black: #000;
$dark: #181818;
$white: #fff;
$white-dark: #d6d6d6;
$accent: #D4C17F;
$muted: #C0C0C0;
$input-bg: #F9FAFB;
$input-border: #E5E7EB;

// Media
$tablet: 931px;

// Container
$container-width: 1168px;
$container-padding: 15px;