// Fonts
$font-main: 'Poppins', sans-serif;

// Colors
$black: #000;
$dark: #181818;
$white: #fff;
$accent: #D4C17F;
$muted: #C0C0C0;
$input-bg: #F9FAFB;
$input-border: #E5E7EB;

// Media
$tablet: 992px;