.clients {
    padding: 113px 0 169px;
}

.clients__title {
    margin: 0 0 15px 0;
}

.clients__text {
    color: $muted;
    text-align: center;
    font-size: 24px;

    margin: 0 0 110px 0;
}

.clients__row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}