.leafs {
    padding: 40px 35px;

    background: url('./../img/leafs/leafs-bg.jpg') center / cover no-repeat;
    min-height: 600px;

    display: grid;
    justify-content: end;
    align-items: end;

    @include mediaTablet {
        padding: 40px 0;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 30px;
    }
}

.leafs__location {
    justify-self: end;

    @include mediaTablet {
        justify-self: center;
    }
}

.leafs__title {
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.leafs__text {
    color: $muted;
    font-size: 14px;
    line-height: 142.857%;
}

.leafs__title,
.leafs__text {
    @include mediaTablet {
        text-align: center;
    }
}