.leafs {
    padding: 40px 35px;

    background: url('./../img/leafs/leafs-bg.jpg') center / cover no-repeat;
    min-height: 600px;

    display: grid;
    justify-content: end;
    align-items: end;
}

.leafs__location {
    justify-self: end;
}

.leafs__title {
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.leafs__text {
    color: $muted;
    font-size: 14px;
    line-height: 142.857%;
}