.location__list {
    display: flex;
    column-gap: 16px;
    justify-content: center;
    flex-wrap: wrap;
}

.location__item {
    display: flex;
    column-gap: 3px;
}

.location__text {
    font-size: 12px;
}