.star-fall {
    padding: 40px 35px;

    background: url('./../img/star-fall/star-fall-bg.jpg') center / cover no-repeat;
    min-height: 600px;

    display: grid;
    justify-content: end;
    align-items: end;
}

.star-fall__location {
    justify-self: end;
}

.star-fall__title {
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.star-fall__text {
    color: $muted;
    font-size: 14px;
    line-height: 142.857%;
}